<section class="section resrotaunt">
<div class="container">
        <h3 class="menu-title">Меню ресторану</h3>
        </div>
        <div class="container"></div>
        <div class="container-group  container">
            <!-- <div class="table-menu container">-->
            <div class="position-table-tablet">
                <table class="">
                    <caption class="caption-table">
                        Гарячі страви
                    </caption>
                    <tbody>
                        <tr>
                            <td class="name-list" colspan="3">Борщ з телятини з квасолею</td>


                        </tr>
                        <tr>
                            <td class="composition">Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                                помідори,
                                зелень, сметана</td>
                            <td class="massa">400 г</td>
                            <td class="price">240 грн</td>
                        </tr>
                        <tr>
                            <td class="name-list" colspan="3">Суп сирний з куркою</td>

                        </tr>
                        <tr>
                            <td class="composition">
                                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
                            </td>
                            <td class="massa">400 г</td>
                            <td class="price">200 грн</td>
                        </tr>
                        <tr>
                            <td class="name-list" colspan="3">Паста карбонара</td>

                        </tr>
                        <tr>
                            <td class="composition">
                                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                            </td>
                            <td class="massa">350 г</td>
                            <td class="price">430 грн</td>
                        </tr>
                        <tr>
                            <td class="name-list" colspan="3">Стейк зі свинини</td>

                        </tr>
                        <tr>
                            <td class="composition">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами

                            </td>
                            <td class="massa">400 г</td>
                            <td class="price">500 грн</td>
                        </tr>
                        <tr>
                            <td class="name-list" colspan="3">Горбуша в соусі з білого вина</td>

                        </tr>
                        <tr>
                            <td class="composition">Ніжна горбуша, вершковий соус на основі білого вина
                            </td>
                            <td class="massa">400 г</td>
                            <td class="price">400 грн</td>
                        </tr>
                    </tbody>

                </table>


                <table>
                    <caption class="caption-table">
                        Гарніри та закуски
                    </caption>
                    <tr>
                        <td class="name-list" colspan="3">Запечені овочі</td>

                    </tr>
                    <tr>
                        <td class="composition">
                            Кабачок, перець, помідор, баклажан</td>
                        <td class="massa">200 г</td>
                        <td class="price">230 грн</td>
                    </tr>
                    <tr>
                        <td class="name-list" colspan="3">Картопля фрі</td>

                    </tr>
                    <tr>
                        <td class="composition">
                            Картопля, соус томатний
                        </td>
                        <td class="massa">150 г</td>
                        <td class="price">160 грн</td>
                    </tr>
                    <tr>
                        <td class="name-list" colspan="3">Картопля по-селянськи</td>

                    </tr>
                    <tr>
                        <td class="composition">
                            Картопля, спеції, соус пікантний
                        </td>
                        <td class="massa">150 г</td>
                        <td class="price">160 грн</td>
                    </tr>
                    <tr>
                        <td class="name-list" colspan="3">Хрумкі соління з бочки</td>

                    </tr>
                    <tr>
                        <td class="composition">
                            Огірок солений, помідор квашений, квашена капуста, морква по-корейські

                        </td>
                        <td class="massa">250 г</td>
                        <td class="price">350 грн</td>
                    </tr>
                    <tr>
                        <td class="name-list" colspan="3">Крильця курячі в медовому соусі
                        </td>

                    </tr>
                    <tr>
                        <td class="composition">
                            Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз
                        </td>
                        <td class="massa">400 г</td>
                        <td class="price">420 грн</td>
                    </tr>


                </table>
        </div>
    <div class="position-table-tablet">
                <table>
                    <caption class="caption-table">
                        Салати
                    </caption>
                    <tr>
                        <td class="name-list" colspan="3">Цезар з куркою</td>

                    </tr>
                    <tr>
                        <td class="composition">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус
                            цезар
                        </td>
                        <td class="massa">230 г</td>
                        <td class="price">450 грн</td>
                    </tr>
                    <tr>
                        <td class="name-list" colspan="3">Цезар з креветками</td>

                    </tr>
                    <tr>
                        <td class="composition">
                            Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар
                        </td>
                        <td class="massa">230 г</td>
                        <td class="price">300 грн</td>
                    </tr>
                    <tr>
                        <td class="name-list" colspan="3">Грецький салат</td>

                    </tr>
                    <tr>
                        <td class="composition">
                            Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус
                        </td>
                        <td class="massa">230 г</td>
                        <td class="price">280 грн</td>
                    </tr>
                    <tr>
                        <td class="name-list" colspan="3">М'ясний салат</td>

                    </tr>
                    <tr>
                        <td class="composition">
                            Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч
                        </td>
                        <td class="massa">230 г</td>
                        <td class="price">300 грн</td>
                    </tr>


                </table>



                <table>
                    <caption class="caption-table">
                        Десерти
                    </caption>
                    <tbody>
                        <tr>
                            <td class="name-list">Торт наполеон</td>
                            <td class="massa">230 г</td>
                            <td class="price">300 грн</td>
                        </tr>

                        <tr>
                            <td class="name-list">
                                Торт маковий
                            </td>
                            <td class="massa">230 г</td>
                            <td class="price">300 грн</td>
                        </tr>

                        <tr>
                            <td class="name-list">
                                Тірамісу
                            </td>
                            <td class="massa">120 г</td>
                            <td class="price">260 грн</td>
                        </tr>
                    </tbody>
                </table>


                <table>
                    <caption class="caption-table">
                        Напої
                    </caption>
                    <tbody>
                        <tr>
                            <td class="name-list">Чай чорний/зелений</td>
                            <td class="massa">500 мл</td>
                            <td class="price">100 грн</td>
                        </tr>

                        <tr>
                            <td class="name-list">
                                Еспресо
                            </td>
                            <td class="massa">30 мл</td>
                            <td class="price">100 грн</td>
                        </tr>

                        <tr>
                            <td class="name-list">
                                Американо
                            </td>
                            <td class="massa">150 мл</td>
                            <td class="price">100 грн</td>
                        </tr>
                        <tr>
                            <td class="name-list">
                                Капучино
                            </td>
                            <td class="massa">200 мл</td>
                            <td class="price">160 грн</td>
                        </tr>
                        <tr>
                            <td class="name-list">
                                Лате
                            </td>
                            <td class="massa">200 мл</td>
                            <td class="price">160 грн</td>
                        </tr>
                    </tbody>
                </table>
     
    </div>
</div>
<div class="container">
        <button class="book-table-modal-window btn-style " type="button"
            data-modal-open>Забронювати столик</button>
</div>
   
</section>