// Пишемо сюди базову стилі для сайту
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

[href] {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* mobile screen */

@media screen and (min-width:414px) {
.container {
      width: 414px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
}
}

/* tablet screen */
@media screen and (min-width:1024px) {
  .container {
      width: 1024px;
      padding-right: 47px;
      padding-left: 47px;
  }
}

/* desktop screen */ 
@media screen and (min-width:1280px) {
  .container {
      width: 1280px;
      padding-right: 85px;
      padding-left: 85px;
  }
}

