@import './vars';
@import './base.scss';
@import './fonts';
@import './common.scss';

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
z-index: 999;
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);;
}
@media screen and (max-width:1279.98px) {
  .header{
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .header-container{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.header-nav-logo {
  font-family: 'FilmP3';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--primary-text-color-theme-dark);
}
@media screen and (max-width: 1023.98px) {
  .header-nav-logo {
    padding-top: 16px;
    padding-bottom: 12px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1279.98px) {
  .header-nav {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279.98px) {
  .header-nav {
    padding-top: 30px;
  padding-bottom: 30px;
  }
}
.header-nav-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1280px) {
  .header-nav-list {
    margin-left: 135px;
  }
}
.nav-page-link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color-theme-dark);
}
@media screen and (max-width: 1023.98px) {
  .nav-page-link {
    padding-top: 28px;
    padding-bottom: 12px;
  }
}

.nav-tel-link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
@media screen and (max-width: 1023.98px) {
  .nav-tel-link {
    margin-left: 6px;
    padding-top: 28px;
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .nav-tel-link {
    margin-left: 32px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}
.header-nav-item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1023.98px) {
  .header-nav-item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1023.98px) {
  .nav-tel {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header-nav-item:not(:last-child) {
    margin-right: 72px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-tel {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 4px;
    padding-right: 8px;
  }
}

.nav-icon {
  fill: var(--accent-color-theme-dark);
}
@media screen and (min-width: 1024px) {
  .nav-icon {
    margin-left: 8px;
  }
}

@media screen and (max-width: 1279.98px) {
  .header-social-list {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header-social-list {
    display: flex;
    gap: 20px;
    margin-left: auto;
  }
}

.header-social-icon {
  fill: rgba(243, 198, 83, 0.7);
}

