:root {
  --logo-font: 'FilmP3', sans-serif;
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'TimesNewRoman', serif;
  --primary-bg-color-dark: #0e0c07;
  --primary-bg-color-light: #fffdee;
  --secondary-bg-color-light: #f0ecd6;
  --accent-color-theme-dark: #f3c653;
  --accent-color-theme-light: #c79002;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: #bababa;
  --primary-text-color-theme-light: #7a7a7a;
  --secondary-text-color-theme-light: #000000;
  --subtle-text-color: #b4b4b4;
  --logo-color-dark: #494848;
  --contacts-color-theme-dark: #e5e5e5;
  --contacts-color-theme-light: #828282;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}