<section>
  <p>Amet minim mollit non</p>
  <p>Mimiho</p>
  <h2>ДВОМІСНИЙ НОМЕР люкс</h2>
  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <img
    src="/src/images/hotel/hotel_room/hotel_room_mob_1_244_1x.jpg"
    alt="Double room lux"
    width="244"
    height="322"
  />
  <img
    class="image"
    src="/src/images/hotel/hotel_room/hotel_room_mob_2_194_1x.jpg"
    alt="Cup tea stands wooden windowsill"
    width="194"
    height="194"
  />
  <img
    src="/src/images/hotel/hotel_room/hotel_room_mob_3_194_1x.jpg"
    alt="Sinkpm"
    width="194"
    height="194"
  />
  <svg>
    <use href="/src/images/icons.svg#icon-arrow-left"></use>
  </svg>
  <svg>
    <use href="/src/images/icons.svg#icon-arrow-right"></use>
  </svg>
  <a href="/src/room-hotel.html">Детальніше</a>
  <button>Переглянути ціни</button>
</section>
