<section class="two-adults-lux-section threeadult-section">
  <div class="container">
    <div class="hotel-room-desc-section three-adult">
      <div>
        <p class="hotel-room-desc three-adult">Amet minim mollit non</p>
        <p class="hotel-room-logo three-adult">Mimiho</p>
        <h2 class="hotel-room-title three-adult">
          <span class="hotel-room-title-upper">Трьохмісний номер</span>
        </h2>
        <p class="hotel-room-text three-adult">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="bed-img-section">
        <picture>
          <source
            srcset="
              /src/images/hotel/hotel_room/hotel_room_desk_1_460_1x.jpg 1x,
              /src/images/hotel/hotel_room/hotel_room_desk_1_460_2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/hotel/hotel_room/hotel_room_tab_1_400_1x.jpg 1x,
              /src/images/hotel/hotel_room/hotel_room_tab_1_400_2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              /src/images/hotel/hotel_room/hotel_room_mob_1_244_1x.jpg 1x,
              /src/images/hotel/hotel_room/hotel_room_mob_1_244_2x.jpg 2x
            "
            media="(max-width: 1023.98px)"
          />
          <img
            src="/src/images/hotel/hotel_room/hotel_room_mob_1_244_1x.jpg"
            alt="Double room lux"
            class="image hotel-room-img three-adult"
          />
        </picture>
      </div>
    </div>

    <div class="hotel-room-details three-adult">
      <ul class="hotel-room-slider three-adult hotel-list">
        <li class="hotel-room-slider-item">
          <picture>
            <source
              srcset="
                /src/images/hotel/hotel_room/hotel_room_desk_2_254_1x.jpg 1x,
                /src/images/hotel/hotel_room/hotel_room_desk_2_254_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/hotel/hotel_room/hotel_room_tab_2_194_1x.jpg 1x,
                /src/images/hotel/hotel_room/hotel_room_tab_2_194_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/hotel/hotel_room/hotel_room_mob_2_194_1x.jpg 1x,
                /src/images/hotel/hotel_room/hotel_room_mob_2_194_2x.jpg 2x
              "
              media="(max-width: 1023.98px)"
            />
            <img
              src="/src/images/hotel/hotel_room/hotel_room_mob_2_194_1x.jpg"
              alt="Cup tea stands wooden windowsill"
              class="image"
            />
          </picture>
        </li>
        <li class="hotel-room-slider-item">
          <picture>
            <source
              srcset="
                /src/images/hotel/hotel_room/hotel_room_desk_3_254_1x.jpg 1x,
                /src/images/hotel/hotel_room/hotel_room_desk_3_254_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/hotel/hotel_room/hotel_room_tab_3_194_1x.jpg 1x,
                /src/images/hotel/hotel_room/hotel_room_tab_3_194_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                /src/images/hotel/hotel_room/hotel_room_mob_3_194_1x.jpg 1x,
                /src/images/hotel/hotel_room/hotel_room_mob_3_194_2x.jpg 2x
              "
              media="(max-width: 1023.98px)"
            />
            <img
              class="image"
              src="/src/images/hotel/hotel_room/hotel_room_mob_3_194_1x.jpg"
              alt="Sink"
            />
          </picture>
        </li>
      </ul>

      <ul class="hotel-arrow-list three-adult hotel-list">
        <li class="hotel-arrow-item">
          <svg class="hotel-arrow-icon">
            <use href="/src/images/icons.svg#icon-arrow-left"></use>
          </svg>
        </li>
        <li class="hotel-arrow-item">
          <svg class="hotel-arrow-icon">
            <use href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </li>
      </ul>

      <ul class="hotel-room-btn-list hotel-room-buttons three-adult hotel-list">
        <li class="hotel-room-btn-item">
          <a href="/src/room-hotel.html" class="hotel-room-btn">Детальніше</a>
        </li>
        <li class="hotel-room-btn-item">
          <button class="hotel-room-btn">Переглянути ціни</button>
        </li>
      </ul>
    </div>
  </div>
</section>
