<section class="amenities">
  <div class="container">
    <h2 class="amenities-main">Зручності у номері</h2>
    <p class="amenities-main-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities-list">
      <li>
        <h3 class="amenities-title">Загальні</h3>
        <div class="amenities-text-flex">
          <p class="amenities-first-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-second-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li>
        <h3 class="amenities-title">Ванна кімната</h3>
        <div class="amenities-text-flex">
          <p class="amenities-first-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-second-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li>
        <h3 class="amenities-title">Спальня</h3>
        <p class="amenities-first-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li>
        <h3 class="amenities-title">Кухня</h3>
        <div class="amenities-text-flex">
          <p class="amenities-first-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities-second-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li>
        <h3 class="amenities-title">Медіа</h3>
        <p class="amenities-first-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <div class="amenities-to-hotel">
      <button type="button" class="amenities-button" data-modal-open-room>
        Оформити бронювання
      </button>
      <a href="./hotel.html" class="amenities-link"
        >Повернутися до перегляду номерів
        <svg class="amenities-svg">
          <use
            class="amenities-svg-use"
            href="/src/images/icons.svg#icon-arrow-right"
          ></use>
        </svg>
      </a>
    </div>
  </div>
</section>
