<section class="hero-room-hotel">
  <div class="container">
    <div class="slider-room-hotel">
      <ul class="slider-list-room-hotel">
        <li class="slider-item-room-hotel">
          <a class="slider-link-room-hotel">
            <svg class="slider-icon-room-hotel-arrow" width="38" height="22">
              <use href="/src/images/icons.svg#icon-arrow-left"></use>
            </svg>
          </a>
        </li>
        <li class="slider-item-room-hotel">
          <a class="slider-link-room-hotel">
            <svg class="slider-icon-room-hotel-arrow" width="38" height="22">
              <use href="/src/images/icons.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <h1 class="hero-title-room-hotel">
      <span class="title-apart-room-hotel">Двомісний номер</span>
      <span class="title-luxe-room-hotel"> люкс </span>
    </h1>
    <p class="hero-meta-text-room-hotel">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="hero-contact-room-hotel">
      <a
        class="hero-adress-tab-room-hotel"
        href="https://goo.gl/maps/DMQrhpzzaZMDhR757"
        target="_blank"
        rel="noreferrer noopener"
      >
        <svg class="adress-icon-room-hotel">
          <use href="/src/images/icons.svg#icon-location"></use>
        </svg>
        <p class="adress-meta-room-hotel">
          Україна, м. Полтава, вул. Маршала Бірюзова, 15
        </p>
      </a>
      <ul class="social-list-room-hotel">
        <li class="social-item-room-hotel">
          <a href="https://www.instagram.com/" class="social-link-room-hotel">
            <svg clas="social-icon-room-hotel" width="22" height="22">
              <use href="/src/images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item-room-hotel">
          <a href="https://www.facebook.com/" class="social-link-room-hotel">
            <svg clas="social-icon-room-hotel" width="22" height="22">
              <use href="/src/images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item-room-hotel">
          <a href="https://web.telegram.org/k/" class="social-link-room-hotel">
            <svg clas="social-icon-room-hotel" width="22" height="22">
              <use href="/src/images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button type="button" class="hero-btn-room-hotel">Переглянути ціни</button>
  </div>
</section>
