.two-adults-lux-section.threeadult-section {
  background-color: var(--secondary-bg-color-light);
}
.hotel-room-desc.three-adult {
  text-align: end;
}
.hotel-room-logo.three-adult {
  margin-right: -0.3em;
  text-align: end;
}
.hotel-room-title.three-adult {
  @media screen and (max-width: 1023.98px) {
    text-align: end;
  }
}
.hotel-room-text.three-adult {
  @media screen and (max-width: 1023.98px) {
    margin-left: 83px;
  }
}
@media screen and (min-width: 1024px) {
  .hotel-room-desc-section.three-adult {
    justify-content: flex-end;
    margin-right: 37px;
  }
}
@media screen and (min-width: 1024px) {
  .hotel-room-desc-section.three-adult {
    margin-right: 19px;
  }
}
.hotel-room-img.three-adult {
  margin-left: 0;
}
@media screen and (min-width: 1024px) {
  .hotel-room-img.three-adult {
    left: unset;
    right: 50%;
  }
}
// @media screen and (max-width: 1023.98px) {
//   .hotel-room-slider.three-adult {
//     transform: translateX(38%);
//   }
// }
@media screen and (min-width: 1024px) {
  .hotel-room-details.three-adult {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1024px) {
  .hotel-room-buttons.three-adult {
    align-items: flex-start;
  }
}
.hotel-arrow-list.three-adult {
  justify-content: flex-end;
}
.hotel-arrow-list.three-adult {
  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
  }
}
.hotel-room-btn-list.three-adult {
  @media screen and (min-width: 1024px) {
    margin-right: auto;
    margin-left: 0;
  }
}
