.two-adults-lux-section {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--primary-bg-color-light);
}
.hotel-room-desc {
  margin-bottom: 8px;
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: calc(23 / 20);

  color: var(--subtle-text-color);
}
.hotel-room-logo {
  margin-bottom: 32px;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: var(--logo-color-dark);
}
.hotel-room-title {
  margin-bottom: 12px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.05em;

  color: var(--secondary-text-color-theme-light);
}
.hotel-room-title-upper {
  text-transform: uppercase;
}
.hotel-room-text {
  margin-bottom: 32px;
  max-width: 258px;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;

  color: var(--primary-text-color-theme-light);
}
.image {
  background-color: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.room-img {
  margin-left: auto;
  margin-bottom: 32px;
}
.amenities-img {
  margin-bottom: 20px;
}
.hotel-arrow-icon {
  display: inline-block;
  margin-bottom: 20px;
  width: 32px;
  height: 32px;
}
.hotel-arrow-icon {
  cursor: pointer;
}
.hotel-arrow-icon + .hotel-arrow-icon {
  margin-left: 32px;
}
.hotel-room-btn {
  display: inline-block;
  padding: 14px 37px;
  min-width: 236px;
  font-weight: 700;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--accent-color-theme-dark);
  background-color: var(--secondary-text-color-theme-light);

  border: 2px solid var(--primary-bg-color-light);
  border-radius: 25px;
  cursor: pointer;
}
.hotel-room-btn:hover,
.hotel-room-btn:focus {
  background-color: var(--primary-text-color-theme-dark);
  border: 2px solid var(--accent-color-theme-dark);
}
.hotel-room-btn-list {
  text-align: center;
}
.hotel-room-btn-item:first-child {
  margin-bottom: 16px;
}
