img {
  max-width: 100%;
}
.two-adults-lux-section {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--primary-bg-color-light);
  @media screen and (min-width: 1024px) {
    padding-top: 62px;
    padding-bottom: 104px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 72px;
    padding-bottom: 112px;
  }
}
.hotel-room-desc {
  margin-bottom: 8px;
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: calc(23 / 20);

  color: var(--subtle-text-color);

  @media screen and (min-width: 1024px) {
    margin-bottom: 4px;
    font-size: 32px;
    line-height: calc(37 / 32);
  }
}
.hotel-room-logo {
  margin-bottom: 32px;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: var(--logo-color-dark);
  @media screen and (min-width: 1024px) {
    margin-bottom: 62px;
    font-size: 64px;
    line-height: calc(69 / 64);
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 72px;
  }
}
.hotel-room-title {
  margin-bottom: 12px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.05em;

  color: var(--secondary-text-color-theme-light);
  @media screen and (min-width: 1024px) {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: calc(34 / 30);
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: calc(41 / 36);
  }
}
.hotel-room-title-upper {
  text-transform: uppercase;
}
.hotel-room-text {
  max-width: 258px;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;

  color: var(--primary-text-color-theme-light);

  @media screen and (max-width: 1023.98px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 439px;
    font-size: 16px;
    line-height: calc(20 / 16);
  }
  @media screen and (min-width: 1280px) {
    max-width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .hotel-room-desc-section {
    display: flex;
    margin-bottom: 176px;
  }
}
@media screen and (min-width: 1280px) {
  .hotel-room-desc-section {
    margin-bottom: 188px;
  }
}
.image {
  background-color: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.hotel-room-img {
  margin-left: auto;
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .hotel-room-img {
    position: absolute;
    left: 50%;
    top: -32px;
  }
}
.amenities-img {
  margin-bottom: 20px;
}
.hotel-arrow-icon {
  display: inline-block;
  margin-bottom: 20px;
  width: 32px;
  height: 32px;
  @media screen and (min-width: 1024px) {
    margin-bottom: 0;
  }
}
.hotel-room-slider {
  margin-bottom: 20px;
  display: flex;
  @media screen and (min-width: 1024px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1023.98px) {
  .hotel-room-slider {
    transform: translateX(-38%);
  }
}
.hotel-room-slider-item:first-child {
  margin-right: 16px;
  @media screen and (min-width: 1024px) {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .hotel-list {
    width: calc(50% - 37px);
  }
}
@media screen and (min-width: 1280px) {
  .hotel-list {
    width: calc(50% - 7px);
  }
}
@media screen and (min-width: 1024px) {
  .hotel-room-details {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .hotel-room-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}
.hotel-arrow-list {
  display: flex;
  @media screen and (min-width: 1024px) {
    order: 1;
    justify-content: flex-end;
  }
}
.hotel-arrow-item + .hotel-arrow-item {
  margin-left: 32px;
}
.hotel-room-btn {
  display: inline-block;
  padding: 14px 37px;
  min-width: 236px;
  font-weight: 700;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--accent-color-theme-dark);
  background-color: var(--secondary-text-color-theme-light);

  border: 2px solid var(--primary-bg-color-light);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color var(--animation), border var(--animation);
}
.hotel-room-btn:hover,
.hotel-room-btn:focus {
  background-color: var(--primary-text-color-theme-dark);
  border: 2px solid var(--accent-color-theme-dark);
}
.hotel-room-btn-list {
  @media screen and (max-width: 1023.98px) {
    text-align: center;
  }
  @media screen and (min-width: 1024px) {
    margin-left: auto;
  }
}
.hotel-room-btn-item:first-child {
  margin-bottom: 16px;
}
