<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../sass/_1-homepage.scss" />
    <script type="module" src="../index.js"></script>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="/src/partials/2-restaurant.html"></a></li>
        <li><a href="/src/partials/3-hotel.html"></a></li>
        <li><a href="/src/partials/4-room-hotel.html"></a></li>
      </ul>
    </header>
    <main></main>
    <footer>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="/src/partials/2-restaurant.html"></a></li>
        <li><a href="/src/partials/3-hotel.html"></a></li>
        <li><a href="/src/partials/4-room-hotel.html"></a></li>
      </ul>
    </footer>
  </body>
</html>
