<footer class="footer-field">
  <div class="ft container">
    <div class="ft-title-cont">
      <a href="./index.html"><h2 class="footer-title" lang="en">mimiho</h2></a>
    </div>
    <div class="nav-soc">
      <nav class="footer-nav">
        <ul>
          <li class="nav-item">
            <a class="foot-nav-link" href="./index.html">Головна</a>
          </li>
          <li class="nav-item">
            <a class="foot-nav-link" href="./restaurant.html">Ресторан</a>
          </li>
          <li class="nav-item">
            <a class="foot-nav-link" href="./hotel.html">Готель</a>
          </li>
        </ul>
      </nav>
      <div class="soc-foot">
        <ul>
          <li class="soc-foot-item">
            <a
              class="soc-foot-link"
              href="https://web.telegram.org/k/"
              target="_blank"
              ><span class="soc-foot-title">Telegram</span>
              <svg class="soc-media-icon" width="22px" height="22px">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="soc-foot-item">
            <a
              class="soc-foot-link"
              href="https://www.facebook.com/"
              target="_blank"
              ><span class="soc-foot-title">Facebook</span>
              <svg class="soc-media-icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="soc-foot-item">
            <a
              class="soc-foot-link"
              href="https://www.instagram.com/"
              target="_blank"
              ><span class="soc-foot-title">Instagram</span>
              <svg class="soc-media-icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
