<header class="header container">
    <nav class="nav">
        <a href="./index.html" class="header-nav-logo">mimiho</a>

        <ul class="nav-list">
            <li class="nav-item">
                <a href="./restaurant.html" class="nav-page-link"> Ресторан </a>
                <a href="tel:0955559533" class="nav-tel-link">
                    <svg width="24px" height="24px" class="nav-icon">
                        <use href="./images/icons.svg#icon-phone"></use>
                    </svg>
                    <div class="nav-tel">
                        095 555 95 33
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="./room-hotel.html" class="nav-page-link">Готель</a>

                <a href="tel:0668491089" class="nav-tel-link">
                    <svg width="24px" height="24px" class="nav-icon">
                        <use href="./images/icons.svg#icon-phone"></use>
                    </svg>
                    <div class="nav-tel">
                        066 849 10 89
                    </div>
                </a>
            </li>
        </ul>
    </nav>
    <ul class="header-social-list">
        <li class="header-social-item">
            <a href="#" target="_blank" class="header-social-item">
                <svg width="24" height="24" class="header-social-icon">
                    <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li class="header-social-item">
            <a href="#" target="_blank" class="header-social-item">
                <svg width="24" height="24" class="header-social-icon">
                    <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        <li class="header-social-item">
            <a href="#" target="_blank" class="header-social-item">
                <svg width="24" height="24" class="header-social-icon">
                    <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
    </ul>
    <a href="https://goo.gl/maps/oFYhGfqJeU8osLyy5" target="_blank" class="header-address">
        <svg width="20" height="20" class="header-address-icon">
            <use href="./images/icons.svg#icon-location"></use>
        </svg>
        <p class="header-address-text">
            Україна, м. Полтава, <br> вул. Маршала Бірюзова, 15
        </p>
    </a>
</header>