.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.container-menu {
  min-width: 320px;
  max-width: 414px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.resrotaunt {
  background-color: var(--primary-bg-color-light);
}

.caption-table {
  text-align: start;
}

.menu-title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
  padding-left: 15px;
  font-family: 'TimesNewRoman', Times, serif;
  font-size: 32px;
  font-weight: 700;
}

table td {
  /*  border: 1px solid #2a2a2a;*/
  padding-bottom: 8px;
}

table td {
  margin-bottom: 8px;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  /*width: 411px;*/
}

.price {
  text-align: end;
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 1.2;
  font-weight: 700;
  width: 65px;
}

.massa {
  text-align: center;
  width: 99px;
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 1.2;
  font-weight: 300;
}

.name-list {
  font-size: 14px;
  line-height: 1.2;
  text-align: start;

  font-weight: 500;
  width: 221px;
}

.composition {
  font-size: 10px;
  line-height: 1.2;
  width: 225px;
  font-weight: 400;
  font-family: var(--primary-font);
}

.caption-table {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 700;
  font-family: var(--secondary-font);
}

.book-table-modal-window {
  color: var(--accent-color-theme-dark);
  background-color: var(--primary-bg-color-dark);
  cursor: pointer;
  padding: 18px 38px;

  display: block;
  min-width: 236px;
  min-height: 48px;
  margin: 0 auto;

  margin-top: 32px;

  border: 1px solid transparent;
  text-decoration: none;
  /* transition: ;*/
  text-transform: inherit;
  border-radius: 25px;
}

@media screen and (min-width: 1024px) {
  /*table {
        width: 444px;
    }*/

  .container-menu {
    max-width: 1024px;
  }

  .container-menu .book-table-modal-window {
    margin-right: 0;
  }

  .container-group {
    display: flex;
    justify-content: space-between;

    flex-basis: 430px;
  }

  .resrotaunt {
    background-color: #f0ecd6;
  }

  .menu-title {
    text-align: start;
  }
}

.book-table-modal-window:hover,
.book-table-modal-window:active,
.book-table-modal-window:focus {
  color: var(--accent-color-theme-dark);
  background-color: var(--primary-bg-color-light);
  border: 2px solid var(--accent-color-theme-dark);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.composition {
  width: 221px;
}

.btn-style {
  font-size: 16px;
  font-weight: 700;
  font-family: var(--primary-font);
  line-height: 1.25;
  letter-spacing: 0.02;
}

@media screen and (min-width: 1024px) {
  .position-table-tablet {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
  }

  .section {
    padding-top: 58px;
    padding-bottom: 40px;
  }

  .menu-title {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container-menu {
    width: 1280px;
  }

  .section {
    padding-top: 58px;
    padding-bottom: 60px;
  }

  .book-table-modal-window {
    margin-top: 51px;
  }

  .caption-table {
    font-size: 24px;
  }

  .name-list {
    font-size: 16px;
  }

  .composition {
    width: 257px;
  }

  table td {
    padding-bottom: 11px;
  }
}
