<section class="container about_hotel">
  <h1 class="visually-hidden">About our hotel</h1>
  
  <div class="card">
     <div class="content">
        <h3 class="card_title">Amet minim mollit non</h3>
        <h2 class="logo_card">MIMIHO</h2>
        <p class="text_cadr_room">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
     </div> 
    

        <picture class="foto_room">
            <source media="(min-width: 414px)"
                srcset="/src/images/main/main_about_hotel/main_about_hotel_mob_1_244_1x.jpg 1x, /src/images/main/main_about_hotel/main_about_hotel_mob_1_244_2x.jpg 2x"
                type="image/jpg" />
            <source media="(min-width: 1024px)"
                srcset="/src/images/main/main_about_hotel/main_about_hotel_tab_1_400_1x.jpg 400w 1x, /src/images/main/main_about_hotel/main_about_hotel_tab_1_400_2x.jpg 2x"
                type="image/jpg" />
            <source media="min-width: 1280px"
                srcset="/src/images/main/main_about_hotel/main_about_hotel_desk_1_460_1x.jpg 460w 1x, /src/images/main/main_about_hotel/main_about_hotel_desk_1_460_2x.jpg 2x" />
            <img src="/src/images/main/main_about_hotel/main_about_hotel_mob_1_244_1x.jpg" alt="foto room" class="img_room">
        </picture>
  </div>
  <div class="card hall">
        <p class="text_card_hall">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
   
       <picture class="foto_hall">
            <source
                srcset="/src/images/main/main_about_hotel/main_about_hotel_mob_2_200_1x.jpg 1x, /src/images/main/main_about_hotel/main_about_hotel_mob_2_200_2x.jpg 2x"
                media="min-width: 320px">
            <source
                srcset="/src/images/main/main_about_hotel/main_about_hotel_tab_2_350_1x.jpg 1x, /src/images/main/main_about_hotel/main_about_hotel_tab_2_350_2x.jpg 2x"
                media="min-width: 768px">
            <source
                srcset="/src/images/main/main_about_hotel/main_about_hotel_desk_2_460_1x.jpg 1x, /src/images/main/main_about_hotel/main_about_hotel_desk_2_460_2x.jpg 2x"
                media="min-width: 1200px">
            <img src="/src/images/main/main_about_hotel/main_about_hotel_mob_2_200_1x.jpg" alt="foto hall" class="img_hall">
        </picture>
        <div>
    </div>
  </div>
<div class="slider">
<picture class="foto_slider">
    <source srcset="/src/images/main/main_about_hotel/main_about_hotel_mob_3_245_1x.jpg 1x, /src/images/main/main_about_hotel/main_about_hotel_mob_3_245_2x.jpg 2x" media="min-width: 320px">
    <source srcset="/src/images/main/main_about_hotel/main_about_hotel_tab_3_194_1x.jpg 1x, /src/images/main/main_about_hotel/main_about_hotel_tab_3_194_2x.jpg 2x" media="min-width: 768px">
    <source srcset="/src/images/main/main_about_hotel/main_about_hotel_desk_3_254_1x.jpg 1x, /src/images/main/main_about_hotel/main_about_hotel_desk_3_254_2x.jpg 2x" media="min-width: 1200px">
    <img src="/src/images/main/main_about_hotel/main_about_hotel_mob_3_245_1x.jpg" alt="">
</picture>
</div>
</section>