<section class="main-about-rest">
  <div class="container">
    <h2 class="visually-hidden">About our restaurant</h2>
    <div class="main-about-rest-group-top">
      <div>
        <h3 class="main-about-rest-subtitle">Amet minim mollit non</h3>
        <p class="main-about-rest-logo">Mimiho</p>
        <p class="main-about-rest-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/main/main_about_rest/main_about_rest_desk_1_460_1x.jpg 1x,
            ./images/main/main_about_rest/main_about_rest_desk_1_460_2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/main/main_about_rest/main_about_rest_tab_1_400_1x.jpg 1x,
            ./images/main/main_about_rest/main_about_rest_tab_1_400_2x.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="main-about-rest-img1"
          srcset="
            ./images/main/main_about_rest/main_about_rest_mob_1_244_1x.jpg 1x,
            ./images/main/main_about_rest/main_about_rest_mob_1_244_2x.jpg 2x
          "
          alt="Restaurant interior"
          width="244"
          height="322"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="main-about-rest-group-middle">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/main/main_about_rest/main_about_rest_desk_2_460_1x.jpg 1x,
            ./images/main/main_about_rest/main_about_rest_desk_2_460_2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/main/main_about_rest/main_about_rest_tab_2_350_1x.jpg 1x,
            ./images/main/main_about_rest/main_about_rest_tab_2_350_2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="main-about-rest-img2"
          srcset="
            ./images/main/main_about_rest/main_about_rest_mob_2_200_1x.jpg 1x,
            ./images/main/main_about_rest/main_about_rest_mob_2_200_2x.jpg 2x
          "
          alt="Restaurant interior light"
          width="200"
          height="278"
          loading="lazy"
        />
      </picture>
      <p class="main-about-rest-text gold">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <!-- <div class="main-about-rest-group-bottom">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/main/main_about_rest/main_about_rest_desk_3_254_1x.jpg 1x,
            ./images/main/main_about_rest/main_about_rest_desk_3_254_2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/main/main_about_rest/main_about_rest_tab_3_194_1x.jpg 1x,
            ./images/main/main_about_rest/main_about_rest_tab_3_194_2x.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="main-about-rest-img3"
          srcset="
            ./images/main/main_about_rest/main_about_rest_mob_3_245_1x.jpg 1x,
            ./images/main/main_about_rest/main_about_rest_mob_3_245_2x.jpg 2x
          "
          alt="Restaurant interior dishes"
          width="245"
          height="245"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/main/main_about_rest/main_about_rest_desk_4_254_1x.jpg 1x,
            ./images/main/main_about_rest/main_about_rest_desk_4_254_2x.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="main-about-rest-img4"
          srcset="
            ./images/main/main_about_rest/main_about_rest_tab_4_194_1x.jpg 1x,
            ./images/main/main_about_rest/main_about_rest_tab_4_194_2x.jpg 2x
          "
          alt="Restaurant interior dishes"
          width="194"
          height="194"
          loading="lazy"
        />
      </picture>
    </div> -->
    <!-- Slider main container -->
    <div class="about-rest-slider" data-slider="test-slider">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/main/main_about_rest/main_about_rest_desk_3_254_1x.jpg 1x,
                  ./images/main/main_about_rest/main_about_rest_desk_3_254_2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/main/main_about_rest/main_about_rest_tab_3_194_1x.jpg 1x,
                  ./images/main/main_about_rest/main_about_rest_tab_3_194_2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                class="main-about-rest-img3"
                srcset="
                  ./images/main/main_about_rest/main_about_rest_mob_3_245_1x.jpg 1x,
                  ./images/main/main_about_rest/main_about_rest_mob_3_245_2x.jpg 2x
                "
                alt="Restaurant interior dishes"
                width="245"
                height="245"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/slider_desk/slider_desk_7_254_1x.jpg 1x,
                  ./images/slider_desk/slider_desk_7_254_2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/slider_tab/slider_tab_7_194_1x.jpg 1x,
                  ./images/slider_tab/slider_tab_7_194_2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                class="main-about-rest-img3"
                srcset="
                  ./images/slider_mob/slider_mob_7_245_1x.jpg 1x,
                  ./images/slider_mob/slider_mob_7_245_2x.jpg 2x
                "
                alt="Restaurant interior dishes"
                width="245"
                height="245"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/slider_desk/slider_desk_9_254_1x.jpg 1x,
                  ./images/slider_desk/slider_desk_9_254_2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/slider_tab/slider_tab_9_194_1x.jpg 1x,
                  ./images/slider_tab/slider_tab_9_194_2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                class="main-about-rest-img3"
                srcset="
                  ./images/slider_mob/slider_mob_9_245_1x.jpg 1x,
                  ./images/slider_mob/slider_mob_9_245_2x.jpg 2x
                "
                alt="Restaurant interior dishes"
                width="245"
                height="245"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/slider_desk/slider_desk_15_254_1x.jpg 1x,
                  ./images/slider_desk/slider_desk_15_254_2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/slider_tab/slider_tab_15_194_1x.jpg 1x,
                  ./images/slider_tab/slider_tab_15_194_2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                class="main-about-rest-img3"
                srcset="
                  ./images/slider_mob/slider_mob_15_245_1x.jpg 1x,
                  ./images/slider_mob/slider_mob_15_245_2x.jpg 2x
                "
                alt="Restaurant interior dishes"
                width="245"
                height="245"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-buttons-wrap">
          <button
            class="main-about-rest-swiper swiper-buttons swiper-button-left"
            type="button"
          >
            <svg class="details-rest-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button
            class="main-about-rest-swiper swiper-buttons swiper-button-right"
            type="button"
          >
            <svg class="details-rest-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
