<section class="container about_hotel">
  <h1 class="visually-hidden">About our hotel</h1>

  <div class="card">
    <div class="content">
      <h3 class="card_title">Amet minim mollit non</h3>
      <h2 class="logo_card">MIMIHO</h2>
      <p class="text_cadr_room">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <picture class="foto_room">
      <source
        media="(min-width: 1280px)"
        srcset="/src/images/main/main_about_hotel/main_about_hotel_desk_1_460_1x.jpg 460w 1x, /src/images/main/main_about_hotel/main_about_hotel_desk_1_460_2x.jpg 2x"
      />
      <source
        media="(min-width: 1024px)"
        srcset="/src/images/main/main_about_hotel/main_about_hotel_tab_1_400_1x.jpg 400w 1x, /src/images/main/main_about_hotel/main_about_hotel_tab_1_400_2x.jpg 2x"
        type="image/jpg"
      />
      <source
        media="(min-width: 414px)"
        srcset="
          /src/images/main/main_about_hotel/main_about_hotel_mob_1_244_1x.jpg 1x,
          /src/images/main/main_about_hotel/main_about_hotel_mob_1_244_2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="/src/images/main/main_about_hotel/main_about_hotel_mob_1_244_1x.jpg"
        alt="foto room"
        class="img_room"
      />
    </picture>
  </div>
  <div class="card hall">
    <p class="text_card_hall">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <picture class="foto_hall">
      <source
        srcset="
          /src/images/main/main_about_hotel/main_about_hotel_desk_2_460_1x.jpg 1x,
          /src/images/main/main_about_hotel/main_about_hotel_desk_2_460_2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/main/main_about_hotel/main_about_hotel_tab_2_350_1x.jpg 1x,
          /src/images/main/main_about_hotel/main_about_hotel_tab_2_350_2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /src/images/main/main_about_hotel/main_about_hotel_mob_2_200_1x.jpg 1x,
          /src/images/main/main_about_hotel/main_about_hotel_mob_2_200_2x.jpg 2x
        "
        media="(min-width: 320px)"
      />
      <img
        src="/src/images/main/main_about_hotel/main_about_hotel_mob_2_200_1x.jpg"
        alt="foto hall"
        class="img_hall"
      />
    </picture>
    <div></div>
  </div>
  <div class="slider">
    <picture class="foto_slider1">
      <source
        srcset="
          /src/images/main/main_about_hotel/main_about_hotel_desk_3_254_1x.jpg 1x,
          /src/images/main/main_about_hotel/main_about_hotel_desk_3_254_2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/main/main_about_hotel/main_about_hotel_tab_3_194_1x.jpg 1x,
          /src/images/main/main_about_hotel/main_about_hotel_tab_3_194_2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          /src/images/main/main_about_hotel/main_about_hotel_mob_3_245_1x.jpg 1x,
          /src/images/main/main_about_hotel/main_about_hotel_mob_3_245_2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        src="/src/images/main/main_about_hotel/main_about_hotel_mob_3_245_1x.jpg"
        alt="women"
        class="img_hotel_slider1"
      />
    </picture>
    <picture class="foto_slider2">
      <source
        srcset="
          /src/images/main/main_about_hotel/main_about_hotel_desk_4_254_1x.jpg 1x,
          /src/images/main/main_about_hotel/main_about_hotel_desk_4_254_2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/main/main_about_hotel/main_about_hotel_tab_4_194_1x.jpg 1x,
          /src/images/main/main_about_hotel/main_about_hotel_tab_4_194_2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          /src/images/main/main_about_hotel/main_about_hotel_tab_4_194_1x.jpg 1x,
          /src/images/main/main_about_hotel/main_about_hotel_tab_4_194_2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        src="/src/images/main/main_about_hotel/main_about_hotel_tab_4_194_1x.jpg"
        alt="foto towels"
        class="img_hotel_slider2"
      />
    </picture>
  </div>
</section>
<!-- <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
    <div class="swiper-wrapper" id="swiper-wrapper-5eeb4b6bcc49f7ad" aria-live="polite"
        style="transform: translate3d(-304px, 0px, 0px); transition-duration: 0ms;">
        <div class="swiper-slide swiper-slide-prev" role="group" aria-label="1 / 9" style="margin-right: 34px;"> <img
                src="/project-team-ten/main_det_rest_desk_1_270_1x.35495c8d.jpg" alt="food"> </div>
        <div class="swiper-slide swiper-slide-active" role="group" aria-label="2 / 9" style="margin-right: 34px;"> <img
                src="/project-team-ten/slider_mob_9_245_1x.1c91aebb.jpg" alt="food"> </div>
        <div class="swiper-slide swiper-slide-next" role="group" aria-label="3 / 9" style="margin-right: 34px;"> <img
                src="/project-team-ten/main_det_rest_desk_3_270_1x.4be2ad70.jpg" alt="food"> </div>
        <div class="swiper-slide" role="group" aria-label="4 / 9" style="margin-right: 34px;"> <img
                src="/project-team-ten/main_det_rest_desk_1_270_1x.35495c8d.jpg" alt="food"> </div>
        <div class="swiper-slide" role="group" aria-label="5 / 9" style="margin-right: 34px;"> <img
                src="/project-team-ten/slider_mob_9_245_1x.1c91aebb.jpg" alt="food"> </div>
        <div class="swiper-slide" role="group" aria-label="6 / 9" style="margin-right: 34px;"> <img
                src="/project-team-ten/main_det_rest_desk_3_270_1x.4be2ad70.jpg" alt="food"> </div>
        <div class="swiper-slide" role="group" aria-label="7 / 9" style="margin-right: 34px;"> <img
                src="/project-team-ten/main_det_rest_desk_1_270_1x.35495c8d.jpg" alt="food"> </div>
        <div class="swiper-slide" role="group" aria-label="8 / 9" style="margin-right: 34px;"> <img
                src="/project-team-ten/slider_mob_9_245_1x.1c91aebb.jpg" alt="food"> </div>
        <div class="swiper-slide" role="group" aria-label="9 / 9" style="margin-right: 34px;"> <img
                src="/project-team-ten/main_det_rest_desk_3_270_1x.4be2ad70.jpg" alt="food"> </div>
    </div> <button class="swiper-button-left swiper-buttons" type="button" tabindex="0" aria-label="Previous slide"
        aria-controls="swiper-wrapper-5eeb4b6bcc49f7ad" aria-disabled="false"> <svg class="details-rest-icon" width="30"
            height="30">
            <use href="/project-team-ten/icons.74c5de3e.svg#icon-arrow-left"></use>
        </svg> </button> <button class="swiper-button-right swiper-buttons" type="button" tabindex="0"
        aria-label="Next slide" aria-controls="swiper-wrapper-5eeb4b6bcc49f7ad" aria-disabled="false"> <svg
            class="details-rest-icon" width="30" height="30">
            <use href="/project-team-ten/icons.74c5de3e.svg#icon-arrow-right"></use>
        </svg> </button> <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div> -->
