<section>
  <h2 class="visually-hidden">About our restaurant</h2>
  <div class="container">
    <div>
      <h3>Amet minim mollit non</h3>
      <p>MIMIHO</p>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        src="./images/main/main_about_rest/main_about_rest_mob_1_244_1x.jpg"
        alt="Restaurant interior"
        width="244"
        height="322"
      />
    </div>
    <div>
      <img
        src="./images/main/main_about_rest/main_about_rest_mob_2_200_1x.jpg"
        alt="Restaurant interior light"
        width="200"
        height="278"
      />
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div>
      <img
        src="./images/main/main_about_rest/main_about_rest_mob_3_245_1x.jpg"
        alt="Restaurant interior dishes"
      />
      <img
        src="./images/main/main_about_rest/main_about_rest_desk_4_254_1x.jpg"
        alt="Restaurant interior dishes"
      />
    </div>
  </div>
</section>
