<section class="details-hotel">
  <div class="container">
    <div class="text_detalies_hotel">
      <h2 class="name-hotel">MIMIHO</h2>
      <h3 class="name_detalies_hotel">Готель</h3>
      <p class="description-hotel">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="details-hotel__position-box">
      <div class="details-hotel__slider" data-slider="details-hotel">
        <!-- Slider main container -->
        <div class="swiper-details-hotel">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide swiper-slide-details-hotel">
              <img
                srcset="
                  /src/images/main/main_det_hotel/main_det_hotel_desk_1_270_1x.jpg 1x,
                  /src/images/main/main_det_hotel/main_det_hotel_desk_1_270_1x.jpg 2x
                "
                alt="food"
              />
            </div>
            <div class="swiper-slide swiper-slide-details-hotel">
              <img
                srcset="
                  /src/images/main/main_det_hotel/main_det_hotel_desk_2_162_1x.jpg 1x,
                  /src/images/main/main_det_hotel/main_det_hotel_desk_2_162_2x.jpg 2x
                "
                alt="food"
              />
            </div>
            <div class="swiper-slide swiper-slide-details-hotel">
              <img
                srcset="
                  /src/images/main/main_det_hotel/main_det_hotel_desk_3_270_1x.jpg 1x,
                  /src/images/main/main_det_hotel/main_det_hotel_desk_3_270_2x.jpg 2x
                "
                alt="food"
              />
            </div>
            <div class="swiper-slide swiper-slide-details-hotel">
              <img
                srcset="
                  /src/images/main/main_det_hotel/main_det_hotel_desk_1_270_1x.jpg 1x,
                  /src/images/main/main_det_hotel/main_det_hotel_desk_1_270_1x.jpg 2x
                "
                alt="food"
              />
            </div>
            <div class="swiper-slide swiper-slide-details-hotel">
              <img
                srcset="
                  /src/images/main/main_det_hotel/main_det_hotel_desk_2_162_1x.jpg 1x,
                  /src/images/main/main_det_hotel/main_det_hotel_desk_2_162_2x.jpg 2x
                "
                alt="food"
              />
            </div>
            <div class="swiper-slide swiper-slide-details-hotel">
              <img
                srcset="
                  /src/images/main/main_det_hotel/main_det_hotel_desk_3_270_1x.jpg 1x,
                  /src/images/main/main_det_hotel/main_det_hotel_desk_3_270_2x.jpg 2x
                "
                alt="food"
              />
            </div>
            <div class="swiper-slide swiper-slide-details-hotel">
              <img
                srcset="
                  /src/images/main/main_det_hotel/main_det_hotel_desk_1_270_1x.jpg 1x,
                  /src/images/main/main_det_hotel/main_det_hotel_desk_1_270_1x.jpg 2x
                "
                alt="food"
              />
            </div>
            <div class="swiper-slide swiper-slide-details-hotel">
              <img
                srcset="
                  /src/images/main/main_det_hotel/main_det_hotel_desk_2_162_1x.jpg 1x,
                  /src/images/main/main_det_hotel/main_det_hotel_desk_2_162_2x.jpg 2x
                "
                alt="food"
              />
            </div>
            <div class="swiper-slide swiper-slide-details-hotel">
              <img
                srcset="
                  /src/images/main/main_det_hotel/main_det_hotel_desk_3_270_1x.jpg 1x,
                  /src/images/main/main_det_hotel/main_det_hotel_desk_3_270_2x.jpg 2x
                "
                alt="food"
              />
            </div>
          </div>

          <!-- If we need navigation buttons -->
          <div class="details-hotel__buttons-box">
            <button class="swiper-buttons swiper-button-left" type="button">
              <svg class="details-hotel-icon" width="30" height="30">
                <use href="./images/icons.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button class="swiper-buttons swiper-button-right" type="button">
              <svg class="details-hotel-icon" width="30" height="30">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <ul class="details-hotel__buttons-list">
        <li class="point">
          <button
            class="details-hotel__button"
            type="button"
            data-modal-open-table
          >
            Забронювати столик
          </button>
        </li>
        <li class="point">
          <button
            class="details-hotel__button"
            type="button"
            data-modal-open-price
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- <div class="hotel-img-btn">
  <div class="photo-list-hotel">
    <ul class="photos-list">
      <li class="img-list hotel-img">
        <picture>
          <source
            srcset="
              /src/images/main/main_det_hotel/main_det_hotel_desk_1_270_1x.jpg 1x,
              /src/images/main/main_det_hotel/main_det_hotel_desk_1_270_2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              /src/images/main/main_det_hotel/main_det_hotel_tab_1_162_1x.jpg 1x,
              /src/images/main/main_det_hotel/main_det_hotel_tab_1_162_2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /src/images/main/main_det_hotel/main_det_hotel_mob_1_274_1x.jpg 1x,
              /src/images/main/main_det_hotel/main_det_hotel_mob_1_274_2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="photo-hotel"
            src="/src/images/main/main_det_hotel/main_det_hotel_mob_1_274_1x.jpg"
            alt="photo hotel"
          />
        </picture>
      </li>
      <li class="img-list hotel-img">
        <picture>
          <source
            srcset="
              /src/images/main/main_det_hotel/main_det_hotel_desk_2_162_1x.jpg 1x,
              /src/images/main/main_det_hotel/main_det_hotel_desk_2_162_2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              /src/images/main/main_det_hotel/main_det_hotel_tab_2_162_1x.jpg 1x,
              /src/images/main/main_det_hotel/main_det_hotel_tab_2_162_2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /src/images/main/main_det_hotel/main_det_hotel_tab_2_162_1x.jpg 1x,
              /src/images/main/main_det_hotel/main_det_hotel_tab_2_162_2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="photo-hotel"
            src="/src/images/main/main_det_hotel/main_det_hotel_tab_2_162_1x.jpg"
            width="162"
            height="270"
            alt="egg"
          />
        </picture>
      </li>
      <li class="img-list">
        <picture>
          <source
            srcset="
              /src/images/main/main_det_hotel/main_det_hotel_desk_3_270_1x.jpg 1x,
              /src/images/main/main_det_hotel/main_det_hotel_desk_3_270_2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              /src/images/main/main_det_hotel/main_det_hotel_tab_3_270_1x.jpg 1x,
              /src/images/main/main_det_hotel/main_det_hotel_tab_3_270_2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="photo-hotel"
            src="/src/images/main/main_det_hotel/main_det_hotel_tab_3_270_1x.jpg"
            alt="hotel"
          />
        </picture>
      </li>
    </ul>
  </div> -->
<!--  
  <ul class="icon-descript-list">
    <li class="icon-list">
      <svg class="icon-left" wight="32" height="32">
        <use href="/src/images/icons.svg#icon-arrow-left"></use>
      </svg>
    </li>
    <li class="icon-list">
      <svg class="icon-left" wight="32" height="32">
        <use href="/src/images/icons.svg#icon-arrow-right"></use>
      </svg>
    </li>
  </ul>-->
<!-- <div class="detals-btn">
    <button class="btn-hotel" type="button">Забронювати номер</button>
    <a class="link-btn" href="/src/hotel.html">Переглянути ціни</a>
  </div>
</div> -->
