<section class="hero hero-overlay">
    <a class="hero-adress" href="https://goo.gl/maps/DMQrhpzzaZMDhR757">
        <svg class="hero-adress-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-location"></use>
        </svg>
        <p class="hero-adress-text">Україна, м. Полтава, вул. Маршала Бірюзова, 15</p>
    </a>
    <h1 class="hero-title">Міміно</h1>
    <h2 class="hero-subtitle">Ресторанно-готельний комплекс</h2>
    <p class="hero-text">Смак життя 24/7</p>
    <ul>
        <li><button class="hero-button" type="button">Забронювати столик</button></li>
        <li><button class="hero-button" type="button">Забронювати номер</button></li>
    </ul>
    <ul class="hero-social">
        <li><a href="https://www.instagram.com/">
            <svg width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
        </a></li>
        <li><a href="https://www.facebook.com/">
            <svg width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
        </a></li>
        <li><a href="https://web.telegram.org/">
            <svg width="24" height="24">
                <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
        </a></li>
    </ul>
</section>