.about_hotel {
    background-color: var(--primary-bg-color-light);
}

.card {
    display: flex;
    flex-wrap: wrap;
}
.content {
display: block;
    width: 242px;
    margin-left: 143px;
    margin-right: 0px;
}
@media screen and (min-width: 1024px) {
    .content {
        width: 419px;
        margin-right: 0px;
        margin-top: 120px;
        margin-left: auto;
        order: 2;
     }
}
@media screen and (min-width: 1280px) {
    .content {
        width: 488px;
        margin-right: 0px;
        margin-top: 120px;
        margin-left: auto;
        order: 2;
    }
}
.card_title {
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: calc(23 / 20);
    font-weight: 400;
    color: var(--subtle-text-color);
    margin-top: 18px;
    margin-left: 52px;
}
@media screen and (min-width: 1024px) {
    .card_title {
        height: 37px;
       font-size: 32px;
       line-height: calc(37 / 32);
       margin-top: 0px;
       margin-left: 112px;
    }
}
@media screen and (min-width: 1280px) {
    .card_title {
        margin-left: 184px;
        margin-top: 0px;
    }
}
.logo_card {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 40px;
    line-height: calc(43 / 40);
    letter-spacing: 0.3em;
    color: var(--logo-color-dark);
    margin-top: 6px;
    margin-left: 115px;
}
@media screen and (min-width:1024px) {
    .logo_card {
    font-weight: 700;
    font-size: 64px;
    line-height: 69px;
    letter-spacing: 0.3em;
    margin-top: 4px;
    margin-right: 0px;
    margin-left: auto;
    text-align: end;
    }
}
.text_cadr_room {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
}
@media screen and (min-width:1024px) {
    .text_cadr_room {
        font-size: 16px;
        line-height: calc(20 / 16);
        margin-top: 24px;
    }
}

.img_room {
    margin-top: 28px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
@media screen and (min-width: 1024px){
    .img_room {
        position: relative;
        top: -24px;
        margin-left: 65px;
        order: 1;
        width: 400px;
        height: 524px;
        margin-top: 0px;
        
    }
}
@media screen and (min-width: 1280px) {
    .img_room {
        position: relative;
        top: -24px;
        margin-left: 65px;
        order: 1;
        width: 460px;
        height: 574px;
        margin-top: 0px;

    }
}
.hall {
    margin-top: 32px;
}
@media screen and (min-width: 1024px) {
    .hall {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
    }
}
.text_card_hall {
    display: block;
    width: 163px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    letter-spacing: 0.02em;
    color: var(--accent-color-theme-light);
    margin-top: 70px;
}
@media screen and (min-width: 1024px) {
    .text_card_hall {
        font-size: 16px;
        line-height: calc(20 / 16);
        width: 312px;
        margin-left: 220px;
    }
}
@media screen and (min-width: 1280px) {
    .text_card_hall {
        margin-top: 99px;
        
    }
}

.img_hall {
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
@media screen and (min-width: 1024px) {
    .img_hall {
        width: 350px;
        height: 500px;
        margin-right: 0px;
        margin-left: 48px;
        position: relative;
        top: -48px;
        
    }
}
@media screen and (min-width: 1280px) {
    .img_hall {
        width: 460px;
        height: 574px;
        position: relative;
        top: -46px;
        margin-left: 45px;

    }
}
.slider {
    display: flex;
    padding-bottom: 20px;
    margin-top: 32px;
}
@media screen and (min-width: 1024px) {
    .slider {
        position: relative;
        top: -76px;
        margin-top: 0px;
    }
}
@media screen and (min-width: 1280px) {
    .slider {
        position: relative;
        top: -225px;
        margin-top: 0px;
    }
}
.img_hotel_slider1 {
    width: 245px;
    height: 245px;
    margin-left: auto;
    margin-right: 69px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
@media screen and (min-width: 1024px){
    .img_hotel_slider1 {
        width: 194px;
        height: 194px;
    }
}
@media screen and (min-width: 1280px) {
    .img_hotel_slider1 {
        width: 254px;
        height: 254px;
        margin-right: 40px;
    }
}
.img_hotel_slider2 {
    display: none;
    margin-left: auto;
    margin-right: 69px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
@media screen and (min-width: 1024px){
    .img_hotel_slider2 {
        display: inline-block;
            width: 194px;
            height: 194px;
            border: 1px solid rgba(186, 186, 186, 0.4);
        }
}
@media screen and (min-width: 1280px) {
    .img_hotel_slider2 {
        display: inline-block;
        width: 254px;
        height: 254px;
        border: 1px solid rgba(186, 186, 186, 0.4);
    }
}