.main-about-rest {
  padding-top: 16px;
  // padding-bottom: 20px;
  background-color: var(--primary-bg-color-light);
}
.main-about-rest-group-top {
  margin-bottom: 32px;
  @media screen and (min-width: 1024px) {
    display: flex;
    column-gap: 26px;
    align-items: center;
    justify-content: start;
    position: relative;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1024px) {
    column-gap: 37px;
  }
}

.main-about-rest-subtitle {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--subtle-text-color);
  margin-bottom: 12px;
  @media screen and (min-width: 1024px) {
    font-size: 32px;
    margin-bottom: 4px;
  }
}

.main-about-rest-logo {
  font-family: var(--logo-font);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  color: var(--logo-color-dark);
  letter-spacing: 0.3em;
  margin-bottom: 12px;
  @media screen and (min-width: 1024px) {
    font-size: 64px;
    margin-bottom: 24px;
  }
}

.main-about-rest-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  max-width: 258px;
  margin-bottom: 28px;
  @media screen and (min-width: 1024px) {
    font-size: 16px;
    max-width: 439px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 518px;
  }
}

.main-about-rest-img1,
.main-about-rest-img2
// .main-about-rest-img3,
// .main-about-rest-img4
{
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.main-about-rest-img1 {
  margin-left: auto;
  @media screen and (min-width: 1024px) {
    width: 400px;
    height: 524px;
    margin-top: -48px;
    z-index: 2;
  }
  @media screen and (min-width: 1280px) {
    width: 460px;
    height: 574px;
    margin-top: -48px;
    z-index: 2;
  }
}

.main-about-rest-group-middle {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: start;
  margin-bottom: 32px;
  @media screen and (min-width: 1024px) {
    column-gap: 48px;
    position: relative;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    column-gap: 32px;
  }
}
.main-about-rest-img2 {
  @media screen and (min-width: 1024px) {
    width: 350px;
    height: 500px;
    margin-top: -16px;
    z-index: 2;
  }
  @media screen and (min-width: 1280px) {
    width: 460px;
    height: 574px;
    margin-top: -65px;
    z-index: 2;
  }
}
.main-about-rest-text.gold {
  color: var(--accent-color-theme-light);
  margin-bottom: 0px;
  max-width: 163px;
  @media screen and (min-width: 1024px) {
    max-width: 312px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 119px;
  }
}

.main-about-rest-group-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 52px;
  @media screen and (min-width: 1024px) {
    justify-content: end;
    column-gap: 40px;
    margin-bottom: 96px;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 118px;
  }
}

// .main-about-rest-img3 {
//   @media screen and (min-width: 1024px) {
//     width: 194px;
//     height: 194px;
//     margin-top: -28px;
//     z-index: 2;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 254px;
//     height: 254px;
//     margin-top: -147px;
//     z-index: 2;
//   }
// }

// .main-about-rest-img4 {
//   @media screen and (max-width: 1023.98px) {
//     display: none;
//   }
//   @media screen and (min-width: 1024px) {
//     width: 194px;
//     height: 194px;
//     margin-top: -28px;
//     z-index: 2;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 254px;
//     height: 254px;
//     margin-top: -147px;
//     z-index: 2;
//   }
// }
// SLIDER
.about-rest-slider {
  margin-right: -15px;

  margin-left: 69px;
  .swiper {
    .swiper-slide {
      height: 245px !important;
      width: 245px !important;

      img {
        width: 100%;
        height: 100%;
        border-radius: 2px;
      }
    }
    .swiper-slide:last-child {
      margin-right: 0px !important;
    }
  }

  .swiper-button-left.swiper-button-disabled,
  .swiper-button-right.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  .swiper-buttons-wrap {
    display: flex;
    justify-content: end;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .swiper-buttons {
    padding: 0px;
    cursor: pointer;
    background: none;
    border: none;

    &:hover .details-rest-icon,
    &:focus .details-rest-icon {
      fill: var(--accent-color-theme-dark);
    }
  }

  .swiper-button-left {
    margin-right: 32px;
  }

  .details-rest-icon {
    background: none;
    fill: #000000;
    transition: fill var(--animation);
  }
}

@media screen and (min-width: 1024px) {
  .about-rest-slider {
    margin-left: auto;
    width: 428px;
    margin-top: -28px;

    .swiper {
      .swiper-slide {
        width: 194px !important;
        height: 194px !important;
      }
    }
    .swiper-buttons-wrap {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .about-rest-slider {
    width: 548px;
    margin-top: -147px;

    .swiper {
      .swiper-slide {
        width: 254px !important;
        height: 254px !important;
      }
    }
    .swiper-buttons-wrap {
      margin-top: 36px;
      margin-bottom: 50px;
    }
  }
}
