.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (max-width: 1023.98px) {
    .container {
        width: 100%;
        max-width: 414px;
    }
}
.details-hotel{
    padding-top: 24px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 414px;
        height: 735px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)), url(/src/images/main/main_det_hotel/main_det_hotel_mob_back_414_1x.jpg);
}
.name-hotel{letter-spacing: .3em;
    color: var(--primary-text-color-theme-dark);
    font-size: 40px;
    line-height: 1.08;
    font-family: var(--logo-font);
    margin-bottom: 12px;
    margin-left: 143px;}

    .section-name{color: var(--primary-text-color-theme-dark);
        letter-spacing: .02em;
        margin-bottom: 20px;
        margin-left: 201px;
        font-size: 20px;
        line-height: 1.2;}
        .description-hotel{letter-spacing: .02em;
            color: var(--secondary-text-color-theme-dark);
            margin-right: 139px;
            margin-left: 32px;
            margin-bottom: 48px;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.25;}
            
           .photo-hotel{
            max-width: 274px;
            width: 100%;
            margin-right: 40px;
            margin-bottom: 80px;
            margin-left: 100px;
            display: block;}
        .btn-hotel{width: 236px;
            letter-spacing: .02em;
            color: var(--accent-color-theme-dark);
            cursor: pointer;
            transition: border-color var(--animation), background-color var(--animation);
            background-color: #0006;
            border: 2px solid #fff;
            border-radius: 25px;
            padding-top: 14px;
            padding-bottom: 14px;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.25;
            margin-bottom: 16px;
            transition: border-color var(--animation), background-color var(--animation);}
        
            .btn-hotel:hover,
            .btn-hotel:focus {
                border-color: var(--accent-color-theme-dark);
                background-color: #ffffff;}
            .link-btn{width: 236px;
                letter-spacing: .02em;
                color: var(--accent-color-theme-dark);
                cursor: pointer;
                transition: border-color var(--animation), background-color var(--animation);
                background-color: #0006;
                border: 2px solid #fff;
                border-radius: 25px;
                padding-top: 14px;
                padding-bottom: 14px;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.25;
                text-align: center;
                transition: border-color var(--animation), background-color var(--animation);
            }
            .link-btn:hover,
            .link-btn:focus {
            border-color: var(--accent-color-theme-dark);
            background-color: #ffffff;
                        }
            .detals-btn{display: flex;
                flex-direction: column;
            align-items: center;}
            @media screen and (max-width: 767px){
            .hotel-img{display: none;}}